.Astro-react-table__header {
  display: flex;
  background-color: var(--color-background-surface-header);
  border-left: 4px solid transparent;
  min-width: fit-content;
  font-size: var(--font-heading-5-font-size);
  line-height: var(--font-heading-5-line-height);
  box-shadow: var(--shadow-overlay);
  padding-right: 1rem;
}

.Astro-react-table__sortable,
.Astro-react-table__selectable {
  cursor: pointer;
}

.Astro-react-table__sorted {
  color: var(--color-text-interactive-default);
}

.Astro-react-table__col,
.Astro-react-table__cell {
  flex: 1;
  display: flex;
  padding: var(--spacing-2);
  text-transform: capitalize;
}

.Astro-react-table__row {
  display: flex;
  box-shadow: 0 1px 0 0 var(--color-background-base-default);
  border-left: 4px solid transparent;
  min-width: fit-content;
}

.Astro-react-table__selected {
  background-color: var(--color-background-surface-selected);
  border-left-color: var(--color-background-interactive-default);
}

.Astro-react-table__cell {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}
