.Add-contact {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    padding: var(--spacing-4);
  }

  .form {
    flex: 1;
    overflow-y: auto;
    padding: var(--spacing-4);
  }

  footer {
    padding: var(--spacing-4);
  }
}
