.Contact-details {
  height: 100%;
}

.Contact-details::part(container) {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Contact-details::part(body) {
  flex-grow: 1;
  overflow: auto;
}

form {
  display: flex;
  flex-direction: column;

  h6 {
    align-items: center;
    display: flex;

    rux-status {
      margin-right: var(--spacing-2);
    }
  }
}

.Contact-details form,
section {
  gap: var(--spacing-3);
}

.Contact-details footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Contact-details footer rux-button {
  width: 7.5rem;
}

.Contact-details header {
  display: flex;
  flex-direction: row;
}

.Contact-details header rux-status {
  margin-right: 0.5rem;
}

.Contact-details rux-input::part(form-field) {
  flex-direction: row;
}

.Contact-details rux-input::part(label) {
  margin-right: var(--spacing-2);
  width: 13rem;
}

.active-cb {
  display: flex;
  flex-direction: row nowrap;
}

.active-cb label {
  width: 8.5rem;
}

.Contact-details rux-container div[slot='header'] {
  font-size: var(--font-size-base);
  margin: 0;
}

.Contact-details rux-container::part(header) {
  padding: var(--spacing-1);
}

.Contact-details .equipment-icons {
  margin-top: var(--spacing-3);
}

.Contact-details rux-container rux-input::part(form-field) {
  margin-bottom: var(--spacing-2);
}
