.Manage-contact {
  height: 100%;
}

.Manage-contact::part(container) {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Manage-contact::part(body) {
  flex-grow: 1;
  overflow: auto;
}

form {
  display: flex;
  flex-direction: column;
}

rux-select {
  display: flex;
  margin-block: var(--spacing-3);
}

rux-select::part(select) {
  flex-direction: row;
}

rux-select::part(label) {
  margin-right: var(--spacing-2);
  width: 13rem;
  margin-top: var(--spacing-1);
}

.Manage-contact rux-container div[slot='header'] {
  font-size: var(--font-size-base);
}

.Manage-contact rux-container::part(header) {
  padding: var(--spacing-1);
}

.Manage-contact .active-cb {
  padding-bottom: var(--spacing-3);
}

.Contact-list__header {
  background-color: var(--color-background-surface-header);
  padding: var(--spacing-1) var(--spacing-4);
}

.Contact-list__header,
.Contact-list__passes li {
  align-items: center;
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: 2fr repeat(2, 1fr);
}

.Contact-list__passes {
  border: 1px solid var(--container-color-border);
  list-style: none;
  margin: var(--spacing-0);
  max-height: 9rem;
  overflow-y: scroll;
  padding: var(--spacing-0);
  margin-top: var(--spacing-1);
}

li {
  font-size: var(--font-size-sm);
  padding: var(--spacing-2) var(--spacing-4);
}

li.selected {
  background-color: var(--color-background-surface-selected);
  box-shadow: -4px 0 0 0 var(--color-background-interactive-default);
  margin-left: var(--spacing-1);
  padding-left: var(--spacing-3);
}

li:hover {
  background-color: var(--color-background-surface-hover);
  cursor: pointer;
}

li:not(:first-child) {
  border-top: 1px solid var(--color-background-base-default);
}

.Manage-contact header {
  display: flex;
  align-items: center;
}

.Manage-contact header rux-icon {
  cursor: pointer;
  margin-left: -0.5rem;
  margin-right: 0.75rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-2);
}

.Manage-contact .start-stop-time {
  display: flex;
  padding-top: 0.5rem;
}

.Manage-contact .start-stop-time div {
  width: 8.5rem;
  padding-top: 0.5rem;
}

.Manage-contact .start-stop-time rux-datetime {
  padding-top: 0.5rem;
}

.Manage-contact .start-stop-time span {
  padding-top: 0.5rem;
}

.Manage-contact::part(body) {
  height: 100%;
  overflow-y: auto;
}

.Manage-contact rux-textarea {
  padding-top: 0.5rem;
}
