.manage-panel {
  height: 100%;
}

.manage-panel::part(body) {
  flex-grow: 1;
  overflow: auto;
  padding: 0;
}

.manage-panel::part(container) {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.button-row {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid black;
  padding: 1rem;
}

.manage-panel footer[slot='footer'] {
  display: flex;
  justify-content: flex-end;
}
