/* MANAGE CONTACT */
.Manage-contact {
  height: 100%;
}

.Manage-contact::part(container) {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Manage-contact::part(body) {
  flex-grow: 1;
  overflow: auto;
}

.Manage-contact rux-container div[slot='header'] {
  font-size: var(--font-size-base);
}

.Manage-contact rux-container::part(header) {
  padding: var(--spacing-1);
}

.Manage-contact header {
  display: flex;
  align-items: center;
}

.Manage-contact header rux-icon {
  cursor: pointer;
  margin-left: -0.5rem;
  margin-right: 0.75rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-2);
}

.Manage-contact footer rux-button {
  width: 7.5rem;
}

/* ADD/MODIFY CONTACT FORM STYLES*/
form {
  display: flex;
  flex-direction: column;
}

rux-select {
  display: flex;
  margin-block: var(--spacing-3);
}

rux-select::part(select) {
  flex-direction: row;
}

rux-select::part(label) {
  margin-right: var(--spacing-2);
  width: 13rem;
  margin-top: var(--spacing-1);
}

form rux-checkbox {
  padding-bottom: var(--spacing-3);
}

.Manage-contact {
  .start-stop-time {
    display: flex;
    padding-top: 0.5rem;
  }

  .start-stop-time div {
    width: 8.5rem;
    padding-top: 0.5rem;
  }

  .start-stop-time rux-datetime {
    padding-top: 0.5rem;
  }

  .start-stop-time span {
    padding-top: 0.5rem;
  }

  .Manage-contact::part(body) {
    height: 100%;
    overflow-y: auto;
  }

  rux-textarea {
    padding-top: 0.5rem;
  }
}

/* PASSES */
.pass-plan-wrapper {
  height: 11rem;
  overflow-y: auto;
}

.pass-plan-wrapper::-webkit-scrollbar-track {
  margin-top: 40px;
}

.pass-plan-wrapper rux-table {
  width: 100%;
}

rux-container .pass-plan-wrapper {
  background-color: var(--color-background-base-header);
}

.pass-plan-wrapper rux-table-header-row {
  top: 0;
  position: sticky;
  z-index: 10;
}

.pass-plan-wrapper rux-table-row.selected {
  background-color: var(--color-background-surface-selected);
  box-shadow: -4px 0 0 0 var(--color-background-interactive-default);
}

.pass-plan-wrapper rux-table rux-table-cell:hover {
  cursor: pointer;
}
