.Astro-table {
  &__header {
    display: flex;
    background-color: var(--color-background-surface-header);
    border-left: 4px solid transparent;
    min-width: fit-content;
    font-weight: var(--font-heading-5-font-weight);
    font-size: var(--font-heading-5-font-size);
    letter-spacing: var(--font-heading-5-letter-spacing);
    line-height: var(--font-heading-5-line-height);
    box-shadow: var(--shadow-overlay);
    position: sticky;
    top: 0;
  }

  &__col {
    cursor: pointer;
  }

  &__sorted {
    color: var(--color-text-interactive-default);
  }

  &__col,
  &__cell {
    flex: 1;
    display: flex;
    align-items: center;
    padding: var(--spacing-2);
  }

  &__row {
    display: flex;
    box-shadow: 0 1px 0 0 var(--color-background-base-default);
    border-left: 4px solid transparent;
    min-width: fit-content;

    &:hover {
      background-color: var(--color-background-surface-hover);
    }
  }

  &__selected {
    background-color: var(--color-background-surface-selected);
    border-left-color: var(--color-background-interactive-default);

    &:hover {
      background-color: var(--color-background-surface-selected);
    }
  }

  &__selectable {
    cursor: pointer;
  }

  &__cell {
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
  }
}
