.Global-status-bar {
  #grm-popup-menu {
    padding-bottom: 1.25rem;
  }

  &__status-indicators {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    min-width: 16.875rem;
  }
}
