.App-main {
  --right-panel-width: 26.25rem;
  --top-deduction: 6rem;

  height: calc(100vh - var(--top-deduction));
  padding: var(--spacing-3);
}

body {
  overflow: hidden;
}

.App-main.notification {
  --top-deduction: 9.25rem;
}

.App-main__container {
  height: calc(100% - 36px);
  overflow: hidden;
}

.App-main__container::part(container) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Contacts-header {
  display: flex;
  justify-content: space-between;
}

.App-main__container::part(body) {
  flex-grow: 1;
  display: flex;
  --body-padding: 0;
  height: calc(100% - 3.75rem);
}

.App-main__left-panel {
  width: 100%;
  transition: width 0.2s linear;
}

.App-main__left-panel.isOpen {
  width: calc(100% - var(--right-panel-width));
  transition: width 0.3s linear;
}

.App-main__right-panel {
  box-shadow: -4px 0px 2px 0px var(--color-background-base-default);
  width: 0;
  overflow: hidden;
  height: calc(100vh - 14.625rem);
  transition: width 0.2s linear;
  z-index: 100;
}

.App-main__right-panel.isOpen {
  transition: width 0.3s linear;
  width: var(--right-panel-width);
}
