.App-main {
  --right-panel-width: 26.25rem;
  --top-deduction: 6rem;

  height: calc(100vh - var(--top-deduction));
  padding: var(--spacing-4) var(--spacing-6);

  &.notification {
    --top-deduction: 9.25rem;
  }

  &__container {
    height: 100%;
  }

  &__container::part(container) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__container::part(body) {
    flex-grow: 1;
    display: flex;
    --body-padding: 0;
  }

  &__left-panel {
    width: 100%;
    transition: width 0.2s linear;

    &.isOpen {
      width: calc(100% - var(--right-panel-width));
      transition: width 0.3s linear;
    }
  }

  &__right-panel {
    box-shadow: -4px 0px 2px 0px var(--color-background-base-default);
    width: 0;
    overflow: hidden;
    transition: width 0.2s linear;
    z-index: 100;

    &.isOpen {
      transition: width 0.3s linear;
      width: var(--right-panel-width);
    }
  }
}
