.App-main {
  $right-panel-width: 26.25rem;

  height: calc(100vh - 6rem);
  padding: var(--spacing-4) var(--spacing-6);

  &__container {
    height: 100%;
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }

  &__panels {
    height: calc(100% - 4.5rem);
    display: flex;
  }

  &__left-panel {
    height: 100%;
    width: 100%;
    transition: width 0.2s linear;

    &.isOpen {
      width: calc(100% - $right-panel-width);
      transition: width 0.3s linear;
    }
  }

  &__right-panel {
    background-color: var(--color-background-base-default);
    box-shadow: var(--color-background-surface-default) 0 0 1rem;
    height: calc(100% + 0.25rem);
    width: 0;
    overflow: hidden;
    transition: width 0.2s linear;
    position: relative;
    z-index: 1;

    &.isOpen {
      transition: width 0.3s linear;
      // When we have the ability to set a height on the .rux-container,
      // we can get rid of the overflow setting below.
      overflow: auto;
      width: $right-panel-width;
    }
  }
}
