.Contacts-toolbar {
  padding: var(--spacing-4);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__container {
    display: flex;
    gap: var(--spacing-4);
    align-items: center;
    width: 26.75rem;
    justify-content: center;
    color: var(--color-text-secondary);
  }

  &__time-box {
    display: flex;
    gap: var(--spacing-3);
    background-color: var(--color-background-base-default);
    padding: var(--spacing-2) var(--spacing-3);
    border-radius: var(--radius-base);
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__zoom {
    display: flex;
    align-items: center;
    width: 16rem;
  }

  .flex-start {
    justify-content: flex-start;
  }

  .flex-end {
    justify-content: flex-end;
  }

  .gap-3 {
    gap: var(--spacing-3);
  }
}
