@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Roboto:wght@200;300;400;500;600;800&display=swap');
@import '@astrouxds/astro-web-components/dist/astro-web-components/astro-web-components.css';

h1 {
  font-weight: var(--font-heading-1-font-weight);
  font-size: var(--font-heading-1-font-size);
  letter-spacing: var(--font-heading-1-letter-spacing);
  line-height: var(--font-heading-1-line-height);
  margin: var(--spacing-0);
}

h2 {
  font-weight: var(--font-heading-2-font-weight);
  font-size: var(--font-heading-2-font-size);
  letter-spacing: var(--font-heading-2-letter-spacing);
  line-height: var(--font-heading-2-line-height);
  margin: var(--spacing-0);
}

p {
  font-weight: var(--font-body-1-font-weight);
  font-size: var(--font-body-1-font-size);
  letter-spacing: var(--font-body-1-letter-spacing);
  line-height: var(--font-body-1-line-height);
  margin: var(--spacing-0);
}

table {
  background-color: var(--color-background-surface-header);
  border-collapse: collapse;
  width: 100%;
  min-width: 1460px;
  height: 100%;
}

th {
  font-weight: var(--font-heading-5-font-weight);
  font-size: var(--font-heading-5-font-size);
  letter-spacing: var(--font-heading-5-letter-spacing);
  line-height: var(--font-heading-5-line-height);
}

th,
td {
  padding: var(--spacing-2);
}

tbody tr {
  border-bottom: 1px solid var(--color-background-base-default);
}

tbody tr:first-child {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.42) 0%,
    rgba(60, 62, 66, 0) 28%
  );
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody {
  overflow: auto;
  height: calc(100% - 2.5rem);
  background-color: var(--color-background-surface-default);
}

thead {
  height: var(--spacing-10);
  width: calc(100% - 1.1em);
}
