@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Roboto:wght@200;300;400;500;600;800&display=swap');
@import '@astrouxds/astro-web-components/dist/astro-web-components/astro-web-components.css';

h1 {
  font-weight: var(--font-heading-1-font-weight);
  font-size: var(--font-heading-1-font-size);
  letter-spacing: var(--font-heading-1-letter-spacing);
  line-height: var(--font-heading-1-line-height);
  margin: var(--spacing-0);
}

h2 {
  font-weight: var(--font-heading-2-font-weight);
  font-size: var(--font-heading-2-font-size);
  letter-spacing: var(--font-heading-2-letter-spacing);
  line-height: var(--font-heading-2-line-height);
  margin: var(--spacing-0);
}

h6 {
  font-weight: var(--font-heading-6-font-weight);
  font-size: var(--font-heading-6-font-size);
  letter-spacing: var(--font-heading-6-letter-spacing);
  line-height: var(--font-heading-6-line-height);
  margin: var(--spacing-0);
}

p {
  font-weight: var(--font-body-1-font-weight);
  font-size: var(--font-body-1-font-size);
  letter-spacing: var(--font-body-1-letter-spacing);
  line-height: var(--font-body-1-line-height);
  margin: var(--spacing-0);
}
