.Contacts-list {
  overflow: auto;
  height: calc(100% - 9.0625rem);

  &__th-inner {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .sorted {
    color: var(--color-text-interactive-default);
  }
}
