.table-wrapper {
  overflow: auto;
  position: relative;
  border-top: 2px solid var(--color-background-base-default);
}

.Contacts-list {
  min-width: fit-content;
  overflow-x: auto;
  position: relative;
  height: calc(100vh - 22.5rem);
}
